# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
test
megaphone
phonebook
job
zombie
weapon
sed
harl
harlFilter
fixed
claptrap
animals
materia
bsp
bureaucrat
convert
base
templates
array
span
abomination
btc
RPN

# IDE
.idea
